<!-- <div class="book-tab-menu">
  <p-tabMenu [model]="books" [activeItem]="activeBook" (activeItemChange)="onActiveBookChange($event)"
    class="    justify-content-center"></p-tabMenu>
</div> -->

<div class="card flex justify-content-center my-4">
  <input #searchBox type="text" pInputText (keyup)="search(searchBox.value)"
    placeholder="Rechercher par username ou titre" class="flex-auto"/>
</div>

<div class="flex flex-column gap-3 my-4 ">

  <ng-container *ngFor="let book of filteredBooks$ | async">
    <!-- <app-feed-card [book]="book" class="flex w-full"></app-feed-card> -->
    <app-feed-card [book]="book" class=""></app-feed-card>
  </ng-container>

</div>