<div class="item-tab-menu">
  <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"
    class="    justify-content-center"></p-tabMenu>
</div>

<div class="card flex justify-content-center my-4">
  <input #searchBox type="text" pInputText (keyup)="search(searchBox.value)"
    placeholder="Rechercher par username ou titre" class="flex-auto"/>
</div>

<app-list-review [currentItemType]="currentItemType" [searchTerms]="searchTerms"
  class="flex flex-column gap-2 my-4 "></app-list-review>