<ng-container *ngIf="(books$ | async)?.length !== 0">
  <div class="card flex justify-content-center mb-4">
    <input #searchBox type="text" pInputText (keyup)="search(searchBox.value)"
      placeholder="Recherche un livre ou un ami" class="p-inputtext-sm flex-auto" />
  </div>

  <div class="flex flex-column gap-3 my-4 align-items-center">
    <ng-container *ngFor="let book of books$ | async">
      <app-feed-card [book]="book" class="w-full"></app-feed-card>
    </ng-container>
  </div>
</ng-container>

<div *ngIf="(books$ | async)?.length === 0 && !isLoading"
  class="dashboard flex flex-column justify-content-center align-items-center h-full gap-4 text-center">
  <h2>Bienvenue sur FAVS</h2>
  <p>Commence par te faire des amis ou ajoute un nouvel avis sur le livre de ton choix.</p>
  <p-button label="Ajoute un livre" [routerLink]="['/app/new-book']" routerLinkActive="router-link-active"></p-button>
  <p-button label="Ajoute un ami" [routerLink]="['/app/search-friends']"
    routerLinkActive="router-link-active"></p-button>
</div>