<div class="create-item-form card flex flex-column align-items-center gap-4 h-full w-full">
  <div class="page-title text-center py-2">{{ pageTitle }}</div>

  <form [formGroup]="createItemForm" (ngSubmit)="onSubmit()" class="gap-3 flex flex-column w-full">
    <input class="w-full" type="text" id="title" pInputText formControlName="title" [placeholder]="titlePlaceholder" />
    <p-fileUpload styleClass="w-full" mode="basic" chooseLabel="Choose" formControlName="media" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [multiple]="false" (onUpload)="onFileUpload($event)" (onSelect)="onSelect($event)"></p-fileUpload>

    <!-- Champs spécifiques à Book -->
    <div *ngIf="mediaType === 'book'" class="gap-3 flex flex-column">
      <input class="w-full" type="text" id="authors" pInputText formControlName="authors" placeholder="Auteurs" />
      <input class="w-full" type="text" id="publishers" pInputText formControlName="publishers"
        placeholder="Éditeurs" />
      <p-calendar styleClass="w-full" formControlName="publishedDate" dateFormat="yy"
        placeholder="Année de publication" inputId="publishedDate" view="year" [touchUI]="true"></p-calendar>
      <p-inputNumber styleClass="w-full" inputId="integeronly" formControlName="pageCount"
        prefix="Nombre de pages : "></p-inputNumber>
    </div>

    <!-- Champs spécifiques à Movie -->
    <div *ngIf="mediaType === 'movie'" class="gap-3 flex flex-column">
      <input class="w-full" type="text" id="cast" pInputText formControlName="cast" placeholder="Distribution" />
      <input class="w-full" type="text" id="directors" pInputText formControlName="directors"
        placeholder="Réalisateur(s)" />
      <p-calendar styleClass="w-full" formControlName="year" dateFormat="yy" placeholder="Année de sortie" inputId="year" view="year" [touchUI]="true"></p-calendar>
      <p-inputNumber styleClass="w-full" inputId="integeronly" formControlName="runtime"
      prefix="Durée en minutes : "></p-inputNumber>
    </div>

    <p-button styleClass="w-full" type="submit" label="Envoyer" [disabled]="!createItemForm.valid"></p-button>
  </form>

</div>
