<p-card *ngFor="let book of books$ | async" class="p-2">
  <ng-template pTemplate="content">
    <div class="book-card flex align-items-center">
      <div class="book-image mr-2">
        <p-image [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'"
          styleClass="mr-2"></p-image>
        <!-- <p-image [src]="book.media?.imageUrl ?? 'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'" styleClass="mr-2" size="xlarge"></p-image> -->
      </div>
      <div class="book-details flex-grow-1">
        <p>{{ book.title }}</p>
        <p>Note: {{ book.averageRating }}</p>
        <ul>
          <li *ngFor="let bookGenre of book.bookGenres">
            {{ bookGenre.genre?.name }}
          </li>
        </ul>
        <div *ngFor="let author of book?.authors">
          <p>{{ author }}</p>
        </div>
        <p>Posté par: {{ book?.user?.pseudo }}</p>
        <p>Posté le: {{ book.createdAt }}</p>
        <p>Image du user: {{ book.user.media?.imageUrl }}</p>

      </div>
    </div>
  </ng-template>
</p-card>
<!-- 
<div class="card {{ (isGroupsAdminActive && book.is_admin === 1) ? 'group-admin' : '' }}" [ngClass]="{'user': book.is_admin === undefined, 'group': book.is_admin === 0 || book.is_admin === 1}">
  <img *ngIf="book.image" src="/assets/group_image1.png" alt="{{ book.name }}" class="card-header-img">
  <h2 class="title">{{book.name}}</h2>
  <button class="btn btn-danger">Supprimer</button>
</div> -->


<!-- <p-card *ngFor="let book of books$ | async" class="p-2">
  <ng-template pTemplate="content">
    <div class="book-card flex align-items-center">
      <div class="book-image mr-2">
        <p-image [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'" styleClass="mr-2"></p-image>
      </div>
      <div class="user-details flex-grow-1">
        <p>{{ book?.title }}</p>
        <div *ngFor="let author of book.authors">
          <p>{{ author }}</p>
        </div>

      </div>
    </div>
  </ng-template>
</p-card> -->
