$primary-color: #F08A7F;
$secondary-color: #483D8B;
$secondary-lighter: #645BA0;
$secondary-darker: #332C63;

$white: white;
$whitesmoke: whitesmoke;
$light-grey: #dedede;

$transparent: rgba(255, 255, 255, 0);