<div class="signup-page w-full m-auto">
  <form (ngSubmit)="registerUser()" [formGroup]="signupForm" class="my-2">
    <div class="flex flex-column gap-2">
      <p-toast></p-toast>
      <input pInputText type="text" formControlName="pseudo" class="form-control" name="pseudo"
        placeholder="Votre pseudo" required>

      <div [hidden]="signupForm.controls['pseudo'].valid || !signupForm.controls['pseudo'].dirty"
        class="alert alert-danger">
        Pseudo is required
      </div>
      <input pInputText type="email" class="form-control" formControlName="email" placeholder="Votre email" required />
      <div [hidden]="signupForm.controls['email'].valid || !signupForm.controls['email'].dirty"
        class="alert alert-danger">
        Email is required
      </div>
      <div class="flex flex-column justify-content-center w-full">
        <p-password formControlName="plainPassword" [toggleMask]="true">
          <ng-template pTemplate="header">
            <h6>Choisir un mot de passe</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <ul class="pl-2 ml-2 mt-0">
              <li>Minimum 8 caractères</li>
              <li>Au moins une minuscule</li>
              <li>Au moins une majuscule</li>
              <li>Au moins un chiffre</li>
            </ul>
          </ng-template>
        </p-password>
      </div>
      <div [hidden]="signupForm.controls['plainPassword'].valid || !signupForm.controls['plainPassword'].dirty"
        class="alert alert-danger">
        Password is required
      </div>

      <div class="flex gap-2 checkbox-btn justify-content-center mt-1">
        <p-checkbox formControlName="rgpd" value="true" inputId="rgpd"></p-checkbox>
        <label for="rgpd">J'accèpte les <a href="#"> conditions</a></label>
      </div>
      <p-button type="submit" label="Se connecter" class="submit-btn my-2 flex justify-content-center"
        [disabled]="!signupForm.valid"></p-button>
      <p-button appBackButton label="Retour" icon="pi pi-arrow-left" class="go-back-btn"
        styleClass="p-button-link"></p-button>
    </div>

    <div>
      <p-toast></p-toast>
    </div>

  </form>
</div>