/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
// @import "../node_modules/primeng/resources/themes/soho-light.css";
@import "../node_modules/primeng/resources/themes/soho-light/theme.css";
@import "../node_modules/primeflex/primeflex.css";

// @import "../node_modules/primeicons/primeicons.css";
html,
body {
  height: 100%;
  margin: 0;
}


.item-card {
  .p-card {
    display: flex;
    max-width: 400px;

    .p-card-title {
      font-size: 1rem;
      font-weight: 700;
      padding: 1rem 1rem 0rem 1rem;
    }

    .p-card-header {
      flex: 1 1 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .p-card-body {
      display: flex;
      flex: 1 1 100%;
      padding: 0;
      flex-direction: column;
      justify-content: space-between;

      .p-card-content {
        padding: 0rem 1rem 0rem 1rem;
        margin-bottom: 0.5rem;
      }

      .p-card-footer {
        font-size: 0.8rem;
        padding: 0.2rem 1rem 0.2rem 1rem;
        background-color: rgb(215, 228, 232);
      }
    }

  }
}

// .star-rating {
//   // font-size: 24px; /* Taille des étoiles */

//   .star {
//     display: inline-block;
//     width: 18px; /* Largeur d'une étoile */
//     overflow: hidden;
//     text-align: center; /* Centrer le contenu vertical dans l'étoile */
//     color: transparent; /* Rendre l'étoile transparente */
//     border: 1px solid #ffcc00; /* Contour des étoiles */

//     &.full {
//       color: #ffcc00; /* Couleur des étoiles pleines */
//     }

//     &.half {
//       width: 9px; /* Largeur d'une demi-étoile */
//       border-right: none; /* Pas de contour à droite pour la demi-étoile */
//     }
//   }
// }
