/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/soho-light/theme.css";
@import "../node_modules/primeflex/primeflex.css";
@import "/src/themes/variables";



html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  color: $white
}

.ohnohoney {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
.p-inputtext {
  color: $whitesmoke;
  border: none;
  background-color: $secondary-lighter;
}

input::placeholder {
  color: $white;
}

.layout {

  label,
  .page-title {
    color: $whitesmoke;
  }

  .page-title {
    font-size: 1rem;
    font-weight: bold;
  }
}

.auth-layout {
  .app-title {
    font-size: 3rem;
    font-weight: 900;
    color: $primary-color;
    letter-spacing: 8px;
  }

  .page-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: $whitesmoke;
    letter-spacing: 1px;
  }

  .login-page,
  .signup-page {
    .pwd-infos {
      margin: 10px 10px 0 10px;
      font-size: 0.8rem;
      color: $whitesmoke;
      padding-left: 10px;
    }

    .p-password {
      width: 100%;

      .p-inputtext {
        width: 100%;
      }
    }

    .p-fileupload {
      .p-button.p-fileupload-choose {
        width: 100%;
        background-color: $secondary-lighter;
        border: none;

        .p-button-label {
          font-weight: normal;
        }
      }
    }

    .p-button.p-button-link,
    .checkbox-btn label {
      color: $whitesmoke;
      font-size: 0.9rem;

      .p-button-label {
        font-weight: 300;
      }

      a {
        color: $whitesmoke;
      }
    }

    .link-btn button {
      padding: 0;
    }

    .checkbox-btn label {
      padding: 0;
    }

    .submit-btn button {
      width: 100%;
    }

    .go-back-btn button {
      padding: 0;
    }
  }
}


.add-review {
  justify-content: center;

  .p-button {
    background-color: $secondary-darker;
    border-color: $secondary-darker;
  }

  .p-button:enabled:hover {
    background: $secondary-darker;
    border-color: $secondary-darker;
  }

  .review-btn .p-button {
    padding: 2rem;
    width: 100%;
  }

}

.p-menuitem {
  position: relative;

  p-menubarsub {
    position: absolute;
    top: -140px;
  }
}

app-layout,
app-auth-layout {
  background-color: $secondary-color
}

.p-card {
  max-width: 400px;
  background-color: $secondary-darker;
  font-size: 0.9rem;

  .p-button {
    color: $whitesmoke;
    padding: 5px 0;
    font-size: 0.9rem;
    font-weight: 300;

    .p-button-label {
      font-size: 0.8rem;
      font-weight: 400;
    }

    &:enabled:hover {
      color: $whitesmoke;
    }
  }

  .p-card-header {
    font-size: 0.8rem;
    color: white;
    padding: 0.2rem 1rem 0.2rem 1rem;
    background-color: $secondary-darker;
  }

  .p-card-body {
    display: flex;
    flex: 1 1 100%;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    color: $white;

    .p-card-content {
      padding: 0;
      margin-bottom: 0;
      background-color: $soft-black;
    }

    .p-card-footer {
      font-size: 0.8rem;
      padding: 1em;
      background-color: $secondary-darker;
    }
  }

  .book-title {
    font-weight: bold;
  }

  .book-image {
    width: 100px;
    height: 100%;
  }

  .genre-list,
  .authors,
  .directors {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-size: 0.8rem;
    margin: 0;
  }

  .authors {
    font-size: 0.8rem;
  }

}

.feed-card {
  .p-card {
    .user-image {
      border-radius: 50px;
      width: 25px;
      height: 25px;
    }

    .friend-comment {
      background-color: $secondary-lighter;
      padding: 0.5em 1em;
      border-radius: 6px;
    }

    .footer {
      .date {
        font-size: 0.7rem;
      }
    }
  }
}

.book-tab-menu {
  .p-tabmenu {
    .p-tabmenu-nav {
      justify-content: center;
      border: 1px solid transparent;
      background-color: transparent;

      .p-tabmenuitem .p-menuitem-link {
        background-color: transparent;
        color: $whitesmoke;
        border-color: $whitesmoke;
      }

      .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link {
        background-color: $transparent;
        color: $white;
        border-color: $white;
      }

      .p-tabmenuitem.p-highlight .p-menuitem-link {
        border-color: $primary-color;
        color: $primary-color;
        background-color: $transparent;
      }
    }

  }
}

app-news-feed {
  .p-inputtext {
    width: 300px;
  }
}


.navbar {
  .p-tabmenu-nav {
    justify-content: space-around;

    .p-tabmenuitem .p-menuitem-link {
      padding: 0px;
    }
  }
}

// Liste des livres avec recherche api google
// problème de decalage du 1er element.
.p-autocomplete-items {
  margin-top: 25px;
}
