<p-card class="book-card" [style]="{ width: '100%' }">
  <ng-template pTemplate="content">

    <div class="flex gap-2">
      <div>
        <img class="book-image" [src]="book?.media?.imageUrl ?? '/assets/affiche-joker.jpeg'" alt="Couverture du livre" />
      </div>
      <div class="flex flex-column p-2 flex-grow-1 gap-2">
        <div class="book-title p-2">{{ book?.title }}</div>
        <ul class="genre-list">
          <ng-container *ngFor="let bookGenre of book?.bookGenres; let i = index; let last = last">
            <li *ngIf="i < 3">{{ bookGenre.genre?.name }}{{ !last && i < 2 ? ',' : '' }}&nbsp;</li>
            <li *ngIf="i === 3">...</li>
          </ng-container>
        </ul>

        <ul class="authors">
          <ng-container *ngIf="book?.authors; else noAuthors">
            <ng-container *ngFor="let author of book?.authors; let i = index; let last = last">
              <li *ngIf="i < 3">
                {{ author }}{{ !last && i < 2 ? ',' : '' }}&nbsp;</li>
              <li *ngIf="i === 3">...</li>
            </ng-container>
          </ng-container>
          <ng-template #noAuthors>
            <div>No authors found for this book.</div>
          </ng-template>
        </ul>

      </div>
    </div>
  </ng-template>
</p-card>