<p-card class="book-card" [style]="{ width: '100%' }">
  <ng-template pTemplate="content">

    <div class="flex gap-2">
      <div>
        <img class="book-image"
        [src]="book?.media?.imageUrl ?? '/assets/affiche-joker.jpeg'"
        alt="Image" />
      </div>
      <div class="flex flex-column p-2 flex-grow-1 gap-2">
        <div class="book-title p-2">{{ book?.title }}</div>
        <ul class="genre-list">
          <ng-container *ngFor="let bookGenre of book?.bookGenres; let i = index; let last = last">
            <li *ngIf="i < 3">{{ bookGenre.genre?.name }}{{ !last && i < 2 ? ',' : '' }}&nbsp;</li>
            <li *ngIf="i === 3">...</li>
          </ng-container>
        </ul>

        <ul class="authors">
          <ng-container *ngIf="book?.authors; else noAuthors">
            <ng-container *ngFor="let author of book?.authors; let i = index; let last = last">
              <li *ngIf="i < 3">
                {{ author }}{{ !last && i < 2 ? ',' : '' }}&nbsp;</li>
              <li *ngIf="i === 3">...</li>
            </ng-container>
          </ng-container>
          <ng-template #noAuthors>
            <div>No authors found for this book.</div>
          </ng-template>
        </ul>

      </div>
    </div>
  </ng-template>
</p-card>


<!-- <p-card class="book-card" [style]="{ width: '100%' }" header="{{ book?.title }}"> -->
  <!-- <ng-template pTemplate="header"> -->
    <!-- <p-image [src]="'/assets/affiche-joker.jpeg'"></p-image> -->
    <!-- <p-image [src]="book?.media?.imageUrl ?? 'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'" styleClass="mr-2" size="xlarge"></p-image>
  </ng-template> -->
  <!-- <p>Image du user: {{ review.user?.media?.imageUrl }}</p> -->
  <!-- <p-image [src]="review.user?.media?.imageUrl ?? 'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'" styleClass="mr-2" size="xlarge"></p-image> -->

  <!-- <ng-template pTemplate="content">
    <div class="review-card flex align-reviews-center">
      <div class="review-details flex flex-column flex-grow-1 gap-1">

          <ul class="authors">
            <ng-container *ngIf="book?.authors; else noAuthors">
              <ng-container *ngFor="let author of book?.authors; let i = index; let last = last">
                <li *ngIf="i < 3">
                  {{ author }}{{ !last && i < 2 ? ',' : '' }}&nbsp;</li>
                    <li *ngIf="i === 3">...</li>
              </ng-container>
            </ng-container>
            <ng-template #noAuthors>
              <div>No authors found for this book.</div>
            </ng-template>
          </ul>
          
        </div>
      </div>
  </ng-template>
</p-card> -->
